.about {
  .hero__info {
    max-width: 600px;
  }
  .hero__title {
    margin-bottom: 2.5rem;
  }
}

.about-sidebar {
  margin-top: 70px;
  .module-title {
    margin-bottom: 2rem;
  }
  .social-links li {
    display: inline-block;
  }
  .social-link {
    color: grey;
    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}

.about-sidebar__thumbnail {
  max-width: 100%;
  min-width: 100%; 
  margin-bottom: 70px;
}
