.blog {
  .hero {
    padding: 120px 0;
  }

  .blog-content {
    min-height: 250px;
  }
  .blog-hero {
    color: $white;
    .hero__info {
      @extend .col-md-6;
      margin-left: 0;
      text-align: left;
    }

    @include sm() {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .hero__title {
    @include h2();
    text-align: left;
    margin-bottom: 1.5rem;
  }
  .hero__meta {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  // .hero__type {
  //   color: $red;
  //   font-size: 1.25rem;
  //   font-weight: 400;
  //   letter-spacing: 0.35px;
  //   line-height: 1;
  //   margin-right: 40px;
  //   text-transform: uppercase;
  // }

  // .hero__date,
  // .hero__excerpt {
  //   @include body-p();
  //   line-height: 1.33333;
  // }

  .sidebar-post {
    align-items: center;
    display: flex;
    padding: 40px 0;
    border-width: 1px 0;
    border-color: $grey;
    border-style: solid;
    margin-bottom: 45px;
    li {
      margin-right: 8px!important;
    }
    @include md() {
      @extend .col-sm-2;
      position: absolute;
      margin-top: 0;
      min-width: 23%;
    }
  }

  .share-sidebar-title {
    display: flex;
    margin-left: 10px;
    font-size: 1.5rem;
    line-height: 1.3;
  }

  .main {
    min-width: 100%; 
    position: relative; 

    p:first-child {
      margin-top: 0;
    }
    
    h2 {
      font-size: 2rem;
    }

    p.full-width img {
      max-width: 100%;
      min-width: 100%;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}