.blog {
  .hero {
    padding: 120px 0;
  }

  .blog-content {
    min-height: 250px;
  }
  .blog-hero {
    color: $white;
    .hero__info {
      @extend .col-md-6;
      margin-left: 0;
      text-align: left;
    }

    @include sm() {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .hero__title {
    @include h2();
    text-align: left;
    margin-bottom: 1.5rem;
  }
  .hero__meta {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  // .hero__type {
  //   color: $red;
  //   font-size: 1.25rem;
  //   font-weight: 400;
  //   letter-spacing: 0.35px;
  //   line-height: 1;
  //   margin-right: 40px;
  //   text-transform: uppercase;
  // }

  // .hero__date,
  // .hero__excerpt {
  //   @include body-p();
  //   line-height: 1.33333;
  // }

  .sidebar-post {
    padding: 1rem;
    border-width: 1px 0;
    border-color: $grey;
    border-style: solid;
    margin-top: 70px;
    @include md() {
      @extend .col-sm-2;
      position: absolute;
      min-width: 16.66666667%;
    }
  }

  .main {
    min-width: 100%; 

    div iframe {
      height: 100%;
      left: 0;
      padding-bottom: 56.25%;
      position: absolute;
      top: 0;
      width: 100%;
    }

    p:not(.full-width),
    h2, h1, h3, h4, h5, h6 {
      @extend .col-sm-9;
      @extend .col-sm-offset-3;
    }
    
    h2 {
      font-size: 2rem;
    }

    p.full-width img {
      max-width: 100%;
      min-width: 100%;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}