.speaking {
  .hero__type {
    color: $bright-red;
    margin-bottom: 1.5rem;
    font-weight: 500;
  }
  .hero__title {
    margin-bottom: 2.5rem;
  }

  .hero__info {
    max-width: 600px;
  } 

  #more_posts {
    margin: 0 auto;
  }
}