html {
  font-family: 'Merriweather Sans', Helvetica, Arial, sans-serif;
  font-size: 16px; 
  font-weight: 200;
  -webkit-font-smoothing: antialiased;

  @include lg() {
    font-size: 16px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; 
  padding: 0;
  font-weight: normal;
}

@mixin h1() {
  color: #FFFFFF;
  font-family: "Merriweather Sans";
  font-size: 4rem;
  letter-spacing: 0.67px;
  line-height: 1.125;
  text-align: center;
}

@mixin h2() {
  font-family: "Merriweather Sans";
  font-size: 2rem;
  letter-spacing: 0.4px;
  font-weight: 200;
  line-height: 1.25;

}

@mixin body() {
  font-family: "Merriweather Sans";
  font-size: 1.125rem;
  letter-spacing: 0.23px;
  line-height: 1.28;
}
