@import "normalize";
@import "colors";
@import "flex-mixins";
@import "layout";
@import "typography";

@import "news";
@import "about";

// GLOBAL
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: $red;

  &:visited {
    color: red;
  }
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

h1 {
  @include h1();
}

p {
  @include body-p();
}

// NAV
.sticky-header {
  display: block;
  padding: 0 30px;
  position: fixed;
  top: 0;
  width: 100%;
  &.opaque {
    background: $white;
    .nav-items li {
      a, 
      a:focus,
      a:hover,
      a:visited {
        color: $dark-grey;
      }
    }
  }
}

.logomark {
  align-self: center;
  color: $red;
  display: inline-block;
  font-size: 3.125rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  text-transform: lowercase;
  span {
    font-weight: 700;
  }
  &:hover,
  &:active, 
  &:focus {
    text-decoration: none;
  }
}

.menu-nav-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-self: center;
}

.nav-items {
  li {
    padding: 30px 15px;
    display: inline-block;
    a,
    a:visited,
    a:focus,
    a:active {
      color: $white;
    }
  }
  .current-menu-item {
    border-bottom: 2px solid $red;
  }
}

.nav-item {

}

// HERO 
.hero {
  background: $dark-grey;
  padding: 210px 0;
}

.hero__title {
  font-weight: 100;
  max-width: 830px;
  margin: 0 auto;
}

// MAIN
.main {
  padding: 70px 0 0 0;
}

.module-header {
  display: flex; 
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
  .module-title {
    align-self: flex-end;
  }
  .module-link {
    text-align: right;
  }
}

// TILE
.tile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tile {
  display: flex;
  flex-direction: column;
  padding: 40px 30px 30px;
  margin: 0 0 20px 0;
  min-height: 25rem;
  .tile__meta {
    display: flex;
    align-items: center;
  }
}
.tile__1x {
  width: 100%;

  .tile-2up & {
    @include lg() {
      width: calc(50% - 10px);
      margin-right: 20px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .tile-3up & {
    @include lg() {
      width: calc(33% - 10px);
      margin-right: 20px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.tile__2x {
  width: 100%;
  margin-right: 0;

  .tile__title {
    margin-top: 30px;
  }

  .tile__blurb {
    font-size: 1.125rem;
    line-height: 2.2222;
  }
}

.tile--dark-bg {
  background: $dark-grey;
  color: $white;
  .tile__category a,
  .tile__date,
  .tile__title a, 
  .tile__tag-link a{
    color: $white;
  }
}

.tile--grey-bg {
  background: $lt-grey;
  color: $dark-grey;
  .tile__category a,
  .tile__tag-link a {
    color: $red;
  }
  .tile__date {
    color: $grey;
  }
  .tile__title a {
    color: $dark-grey;
  }
}

.tile__category {
  font-size: 1.25rem;
  line-height: 1.5;
}

.tile__title{
  font-size: 2rem;
  line-height: 1.3125;
  font-weight: 300;
  margin-top: 80px;
}

.tile__date {
  margin: -5px 0 0 40px;
}

.tile__tags {
  margin-top: auto;
  ul {
    margin: 0;
    padding: 0;
  }
  .tile__tag {
    display: inline-block;
    margin-right: 8px;
    text-align: left;
    padding: 0;
  }
  .tile__tag-link {
  }
}

// SIDEBAR
.homepage-sidebar {
  .module-title {
    font-size: 2rem;
    line-height: 1.25;
  }
  .sidebar__items {
    .sidebar__item {
      display: flex;
      flex-direction: row;
      padding: 45px 0 90px;
      border-bottom: 2px solid $grey;

      .sidebar__item-img {
        margin-right: 30px;
      }
      .sidebar__item-title {
        font-size: 1.25rem;
        line-height: 1.6667;
        justify-self: flex-start;
        a {
          color: $dark-grey;
        }
      }
    }
  }
  .sidebar__see-more-link {
    @include body();
    display: inline-block;
    margin-top: 20px;
  }
}

// NEWSLETTER SIGNUP
.newsletter-signup {
  padding: 40px 0;
  background: $lt-grey;
}

// MAIN 
.footer-content {
  display: flex;
  align-items: center;
  width: 100%;
  .social-links {
    margin-left: auto;
    li {
      display: inline-block;
      margin-right: 8px;
    }
  }
}